## **Obtendo os dados da API do Ingresso.com**

https://suporte.ingresso.com/portal/pt-br/kb/articles/integra%C3%A7%C3%A3o-com-a-api-de-conte%C3%BAdo-1-11-2022

### Todas as salas do Rio de Janeiro

Código do município = 2

Theaters/city/2

In [3]:
import requests

UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36'

raiz_api = 'https://api-content.ingresso.com/v0/{}'

resp = requests.get(
    url=raiz_api.format('Theaters/city/2'),
    headers={'user-agent': UA}
    )

resp.raise_for_status()

In [4]:
import pandas as pd

dados_api_ingresso = resp.json()

ingresso_rj = pd.DataFrame(dados_api_ingresso)

In [5]:
ingresso_rj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           41 non-null     object
 1   boxOfficeId                  41 non-null     object
 2   images                       41 non-null     object
 3   urlKey                       41 non-null     object
 4   name                         41 non-null     object
 5   siteURL                      41 non-null     object
 6   nationalSiteURL              41 non-null     object
 7   cnpj                         41 non-null     object
 8   districtAuthorization        41 non-null     object
 9   address                      41 non-null     object
 10  addressComplement            41 non-null     object
 11  number                       41 non-null     object
 12  cityId                       41 non-null     object
 13  cityName                     41 non-null     object
 14  state                        41 non-null     object
 15  uf                           41 non-null     object
 16  neighborhood                 41 non-null     object
 17  properties                   41 non-null     object
 18  functionalities              41 non-null     object
 19  telephones                   41 non-null     object
 20  geolocation                  41 non-null     object
 21  deliveryType                 41 non-null     object
 22  corporation                  41 non-null     object
 23  corporationId                41 non-null     object
 24  corporationPriority          41 non-null     int64
 25  corporationAvatarBackground  41 non-null     object
 26  rooms                        41 non-null     object
 27  totalRooms                   41 non-null     int64
 28  enabled                      41 non-null     bool
 29  blockMessage                 41 non-null     object
 30  partnershipType              0 non-null      object
 31  operationPolicies            41 non-null     object
dtypes: bool(1), int64(2), object(29)
memory usage: 10.1+ KB

### Filtrando, separando as coordenadas e salvando os dados

In [52]:
salas_rj = ingresso_rj[['id', 'name', 'neighborhood', 'geolocation']].copy()

In [53]:
latitudes = []
longitudes = []

for coord in salas_rj['geolocation']:
    latitudes.append(coord['lat'])
    longitudes.append(coord['lng'])

salas_rj['latitude'] = latitudes
salas_rj['longitude'] = longitudes

In [100]:
for idx, sala in salas_rj.iterrows():
    print(idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [56]:
salas_rj.head()

,id,name,neighborhood,latitude,longitude
0,953,Cine Araújo Jardim Guadalupe,Guadalupe,-22.84113,-43.36908
1,1304,Cine Odeon - Centro Cultural Luiz Severiano Ri...,Centro,-22.91071,-43.17602
2,1463,Cine Santa Teresa,Santa Teresa,-22.92154,-43.18614
3,1046,CineCarioca Méier,Méier,-22.90269,-43.28203
4,1597,Cineflix Center Shopping Rio de Janeiro (RIO),Tanque,-22.92484,-43.36103

In [55]:
salas_rj.drop(columns='geolocation', axis=1, inplace=True)

In [57]:
salas_rj.to_csv('../data/salas_rj.csv')

### Vendo os filmes em exibição de uma sala qualquer

Rio de Janeiro = 2

Estação NET Rio = 34

https://api-content.ingresso.com/v0/Sessions/city/2/theater/34

In [60]:
import requests

UA = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36'

raiz_api = 'https://api-content.ingresso.com/v0/Sessions/city/{}/theater/{}'

resp_estacao_net = requests.get(
    url=raiz_api.format('2', '34'),
    headers={'user-agent': UA}
    )

resp_estacao_net.raise_for_status()

In [87]:
dados_estacao_net = resp_estacao_net.json()
filmes_estacao_net = []

for dia in dados_estacao_net:
    for filme in dia['movies']:
        filmes_estacao_net.append(filme)

filmes_cartaz = pd.DataFrame(filmes_estacao_net)

filmes_cartaz[['title', 'originalTitle']].drop_duplicates()

In [93]:
filmes_cartaz[['title', 'originalTitle']].drop_duplicates()

,title,originalTitle
0,Batman - O filme (1989),Batman
1,Bocaina,Bocaina
2,O Diabo Na Rua No Meio Do Redemunho,O Diabo Na Rua No Meio Do Redemunho
3,Bernadette,Bernadette
4,Tipos De Gentileza,Kinds Of Kindness
5,Motel Destino,Motel Destino
6,Sidonie No Japão,Sidonie ao Japan
7,A Viúva Clicquot – A Mulher Que Formou Um Império,Widow Clicquot
8,A Substância,The Substance
9,Fernanda Young - Foge-me Ao Controle,Fernanda Young - Foge-me Ao Controle
10,Golpe De Sorte Em Paris,Coup de Chance
18,Meu Amigo Pinguim,My Penguin Friend
24,Mishima: Uma Vida Em Quatro Tempos,Mishima: A Life in Four Chapters
35,Cinema De Pijama,Cinema de Pijama